* {
  box-sizing: border-box;
}
body {
  font-family: "raleway";
  background-color: #e8e8e8;
  margin: 0;
}
main {
  max-width: 1640px;
  margin: 0 auto;
}
h1 {
  font-size: 62px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 30px;
  margin: 0;
}
footer {
  display: flex;
  flex-wrap: wrap;
}
/* NAVBAR START */

nav {
  position: relative;
  background-color: #060710;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links li {
  margin-left: 1em;
}
.navbar-links li a {
  text-decoration: none;
  color: white;
}
.active {
  text-decoration: underline;
}
.logo {
  width: 10em;
  height: auto;
}
.social-links a img {
  width: 2em;
  height: auto;
  color: white;
  margin-right: 1em;
}
.navbar-links li a:hover,
.left-nav ul li a:hover {
  color: #959595;
}
.hamburger-btn {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 3vh;
}
.hamburger-btn:hover {
  cursor: pointer;
}
.hamburger-btn span {
  width: 2em;
  height: 4px;
  background-color: white;
  margin: 3px;
}
.hamburger-menu {
  position: absolute;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #151f2a;
}
.hamburger-menu a img {
  width: 2em;
  height: auto;
  color: white;
  margin: 1em;
}
.navbar-toggle {
  display: flex;
}
/* NAVBAR END */

/* INDEX START */

.title-banner {
  background-size: cover;
  height: 665px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}
.index-img {
  background-image: url(/images/person1.jpg);
  background-position-y: 40%;
}
.title {
  font-weight: 800;
}
.title-light {
  font-weight: 300;
}
.title,
.title-light {
  color: white;
  margin: 0;
}
.banner {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  border-bottom: solid 2px #060710;
}
.container-small {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3em;
}
.text-container {
  max-width: 460px;
}
.small-img {
  width: 360px;
  height: auto;
}
.video {
  width: 100%;
  margin-top: 1em;
}
.post-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  width: 310px;
  height: 480px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.24, 0.8, 0.24, 1);
}
.post-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-img {
  height: 40%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card-info {
  height: 60%;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  border-top: solid 2px #959595;
  color: #959595;
}
.card-link {
  text-decoration: none;
  color: #060710;
}
.carousel-container {
  overflow: hidden;
  margin-top: 5em;
}
.carousel-slide {
  display: flex;
}
.carousel-slides {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 2em;
}
.buttons {
  position: relative;
  display: flex;
  height: 5em;
  align-items: center;
}
.buttons button {
  width: 5em;
  height: 3.5em;
  outline: none;
  border: none;
  margin: 1em;
  background-color: #060710;
  border-radius: 10px;
}
#prev-btn {
  position: absolute;
  left: 10vw;
}
#next-btn {
  position: absolute;
  right: 10vw;
}
.active-btn {
  position: absolute;
  background-color: #060710;
}
.inactive-btn {
  background-color: gray;
}
.buttons button:hover {
  cursor: pointer;
}
.buttons button i {
  font-size: 2em;
  color: white;
}
.counter {
  width: 100%;
  display: flex;
  justify-content: center;
}
.counter span {
  height: 1em;
  width: 1em;
  border: solid 1px #060710;
  border-radius: 50%;
  margin: 1em;
}
.destinations {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.city h2 {
  font-weight: 800;
  color: white;
}
.city {
  width: 22em;
  height: 22em;
  margin: 2em;
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.35);
  background-blend-mode: multiply;
}
.cta-btn {
  background-color: #ffa126;
  width: 10em;
  height: 2.8em;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  color: #060710;
  border: solid 2px #ffa126;
}
.cta-btn:hover {
  background-color: white;
}
#newyork {
  background-image: url(/images/newyork.jpg);
}
#paris {
  background-image: url(/images/paris.jpg);
}
#tokyo {
  background-image: url(/images/tokyo.jpg);
}
#london {
  background-image: url(/images/london.jpg);
}
#rome {
  background-image: url(/images/rome.jpg);
}
#berlin {
  background-image: url(/images/berlin.jpg);
}
footer div {
  min-height: 400px;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}
.right-nav {
  color: white;
  background-color: #060710;
  width: 50%;
  height: auto;
  display: flex;
}
.right-nav a img {
  width: 2em;
  height: auto;
  color: white;
  margin: 1em;
}
.left-nav {
  color: white;
  background-color: #151f2a;
  width: 50%;
  height: auto;
  display: flex;
}
.quick-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
}
.quick-links li {
  margin: 1em;
}
.quick-links li a {
  text-decoration: none;
  color: white;
}
.title-btn {
  width: 14em;
  margin-top: 3em;
}
/* INDEX END */

/* MEDIA QUERIES START */
@media (max-width: 920px) {
  .hamburger-btn {
    display: flex;
  }
  .navbar-links,
  .social-links {
    display: none;
  }
  nav {
    justify-content: center;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 21px;
  }
  footer {
    flex-direction: column;
  }
  .nav-box {
    width: 100vw;
    margin: 0;
  }
  .title-banner {
    text-align: center;
  }
  .container-small {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .small-img {
    width: 100%;
    height: 27em;
    object-fit: cover;
  }
}
/* MEDIA QUERIES END */
